.outer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    background-color: rgb(98, 109, 109);
    border: 5px ridge rgb(156, 141, 141);
    padding: 10px;
    margin: 10px;
    color: rgb(18, 23, 23);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.card:nth-child(2n) {
    background-color: antiquewhite;
}

.Image {

    width: 100px;
    height: 100px;

}

.card:hover {
    background-color: rgb(19, 214, 211);
}